{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="payment">
    <h3>Оплатить доступ к базе недвижимости без посредников
        "ЦентрИнформ" можно следующими способами:</h3>
    <h4>1. Самый быстрый и легкий способ, оплата с помощью банковской карты прямо на сайте через LiqPay</h4>
    <p>База без посредников подключается автоматически в течениe 5 минут. 
        Для этого всего лишь достаточно иметь банковскую карту. <br>Выберите на какой срок
        получить доступ к базе без посредников</p>
    <p>
        Выберите город, чтобы посмотреть цены на базу и оплатить доступ: <select id="available-bases">
            {% for base in available_bases %}
                <option value="{{ base.id }}">{{ base.ru_name }}</option>
            {% endfor %}
        </select>
    </p>
    <div id="liq-btns">
        {% if request.user.is_authenticated %}
            {% for base_pr in available_bases.0.prices.all %}
                <button class="search-btn op-liqpay" title='{{ base_pr.title }}' 
                    value='{{ base_pr.price }}'>{{ base_pr.for_btn }} {{ base_pr.price }} грн</button>
            {% endfor %}
        {% else %}
            {% for base_pr in available_bases.0.prices.all %}
                <a class="search-btn" href="{% url 'login' %}">
                    {{ base_pr.for_btn }} {{ base_pr.price }} грн</a> 
            {% endfor %}
        {% endif %}
    </div>

    <p class="why-report"><strong>Внимание</strong>, после оплаты 
        <strong>требуется сообщить об оплате</strong>, т.к. средства поступающие к нам из 
        разных источников практически невозможно идентифицировать для конкретных пользователей.
        При оплате же с помощью LiqPay прямо на сайте, сообщать об оплате не нужно, подключение 
        происходит автоматически, если в течение часа подключения не произошло, обратитесь в
        техподдержку ЦентрИнформ.</p>
    
    
    <h4>2. На карточку ПриватБанка через Приват24, любое отделение или терминал ПриватБанка:</h4>
    <p>Перечислите необходимую сумму на карточку 5211 5373 2458 9873 (получатель Симаков С.Г.)
        через Приват24, любое отделение или терминал ПриватБанка.</p>
    <a href="{% url 'payment_report' %}">Сообщить об оплате</a> | 
    <a href="" class="why-spoiler">Для чего сообщать?</a>
    
    
    <h4>3. На счет ПриватБанка через Приват24:</h4>
    <ol>
        <li>Выберите в Приват24 вкладку «Платежи» меню «По Украине»</li>
        <li>Выберите карту/счет, с которой будете производить оплату.</li>
        <li><strong>Получатель:</strong> ФОП Симакова С.В.</li>
        <li><strong>Номер счета:</strong> 26002052321798</li>
        <li>Введите сумму оплаты за один или несколько месяцев.</li>
        <li><strong>Назначение платежа:</strong>
            укажите ваш логин или email на ci.ua, желаемый срок подключения и город.</li>
        <li><strong>Код ЕГРПОУ:</strong> 2527407185</li>
        <li><strong>МФО банка:</strong> 351533</li>
        <li>Нажмите «Продолжить»</li>
    </ol>
    <a href="{% url 'payment_report' %}">Сообщить об оплате</a> | 
    <a href="" class="why-spoiler">Для чего сообщать?</a>
    
    
    <h4>4. На счет ПриватБанка через терминал ПриватБанка:</h4>
    <ol>
        <li>На дисплее терминала выберите "Оплата других услуг".</li>
        <li>Нажмите "Продолжить".</li>
        <li>Выберите "Найти предприятие по реквизитам".</li>
        <li>Введите ОКПО: 2527407185, либо слово на украинском "Центрiнформ".</li>
        <li>Выберите "Сiмакова С.В. ФОП (Центрiнформ)"</li>
        <li>Нажмите на появившееся окошко "за оброблення данних..."</li>
        <li>Введите свои ФИО, или того, за кого вы платите.</li>
        <li>Введите сумму оплаты за один или несколько месяцев.</li>
        <li>Нажмите "Продолжить".</li>
        <li>Нажмите "Подтвердить".</li>
        <li>Внесите оплату и распечатайте чек</li>
    </ol>
    <p>Чек сохраните, он вам понадобится, чтобы сообщить об оплате.</p>   
    <p>
        <a href="{% static 'images/for_payment/terminal_privat.jpg' %}">
            Краткая схема оплаты через терминал ПриватБанка</a>. 
    </p>
    <a href="{% url 'payment_report' %}">Сообщить об оплате</a> | 
    <a href="" class="why-spoiler">Для чего сообщать?</a>
    
    <h4>5. Через терминалы I-Box, Alfa-Pay, Qiwi и др.:</h4>
    <ol>
        <li>Выберите на терминале систему Webmoney (или Webmoney WMU)</li>
        <li>Выберите «Пополнить кошелёк продавца»</li>
        <li>Укажите номер U кошелька 131 612 478 736.</li> 
        <li>Введите сумму оплаты, можно вводить сумму за несколько месяцев. + комиссию терминала.</li>
        <li>Сохраните чек после оплаты.</li>
    </ol>
    <p>
        <a href="{% static 'images/for_payment/i-box_scheme.png' %}">
            Краткая схема оплаты через терминалы I-Box, Alfa-Pay и др.</a>. 
    </p>
    <a href="{% url 'payment_report' %}">Сообщить об оплате</a> | 
    <a href="" class="why-spoiler">Для чего сообщать?</a>

    <h4>6. C помощью Webmoney.</h4>
    <p>Оплатить сразу на сайте (WMU):</p>
    <div id="wm-btns">
        {% if request.user.is_authenticated %}
            {% for base_pr in available_bases.0.prices.all %}
                <button class="search-btn op-wm" title='{{ base_pr.title }}' 
                    value='{{ base_pr.price }}'>{{ base_pr.for_btn }} {{ base_pr.price }} грн</button>
            {% endfor %}
        {% else %}
            {% for base_pr in available_bases.0.prices.all %}
                <a class="search-btn" href="{% url 'login' %}">
                    {{ base_pr.for_btn }} {{ base_pr.price }} грн</a> 
            {% endfor %}
        {% endif %}
    </div>
    <p>Или на один из кошельков:</p>
    <ul>
        <li>гривна (WMU) - U163906996476</li>
        <li>доллар эквивалент (WMZ) - Z260259618395</li>
        <li>рубль России экв. (WMR) - R261669959395</li>
    </ul>
    <a href="{% url 'payment_report' %}">Сообщить об оплате</a> | 
    <a href="" class="why-spoiler">Для чего сообщать?</a>
    
    <h4>7. Через кассу любого отделение банка. Квитанции находятся ниже:</h4>
    <a href="{% static 'images/upload/kvitancia.jpg' %}">Скачать квитанцию</a>
    <p>Оплату выгоднее производить через терминалы ПриватБанка - комиссия банка 
        составляет всего 2 (две) гривны (если оплата за несколько месяцев - то 
        комиссия чуть больше).</p>
    <a href="{% url 'payment_report' %}">Сообщить об оплате</a> | 
    <a href="" class="why-spoiler">Для чего сообщать?</a>
    
    <h4>7. Оплата для юридических лиц на общей системе налогообложения</h4>
    <p>
        <a href="#" id="for-legal-person">
            Cчет для юридических лиц на общей системе налогообложения</a>
    </p>
    <p id="only-legal-person">
        Этот счет предназначен <span>только для юридических лиц</span> 
        <strong>(ООО, ЧП)</strong> на общей системе налогообложения. 
        Если вы являетесь юридическим лицом нажмите 
        <a href="{% static 'images/for_payment/for_legal_person.doc' %}">Скачать</a>
    </p>
    <a href="{% url 'payment_report' %}">Сообщить об оплате</a> | 
    <a href="" class="why-spoiler">Для чего сообщать?</a>
    
    <p class="op-last"><strong>Срок подключения</strong> - в рабочее время от 10 до 30 мин. 
        (в нерабочее время - как только оператор будет за компьютером). Не забудьте 
        сообщить об оплате через форму на сайте (обязательно укажите Ваш номер телефона 
        и логин в форме), или по одному из контактных телефонов ЦентрИнформ.</p>

    <p>С уважением, админ "ЦентрИнформ"</p>
</div>
{% endblock content %}
