{% extends "lesnoe/base.html" %}
{% load static %}
{% block content %}
<div id="one">
    <h1 id="title" class="green">Контакты</h1>
    <div id="one-cont">
        <p class="green" id="subtitle">
            Отдел продаж коттеджного поселка "Лесное"
        </p>
        <pre id="cont_info">
            г.Харьков
            ул.Короленко, 23
            
            тел. 715-12-78 
                    098-190-59-02
                    066-225-25-55
        </pre>
        <!--hr>
        <p>ВНИМАНИЕ:</p>
        <p>
            В связи с тем, что участки в КП "Лесное" рекламирует масса
            агентов и сайтов недвижимости сообщаем, что отдел продаж находится
            <span class="underlined">только по адресу ул.Короленко, 23</span> Никаких 
            других отделов продаж или "офисов продаж" по другим адресам или 
            телефонам не существует.
        </p-->
    </div>
</div>
{% endblock content %}