<p>Предлагаем Вам наш новый поселок "Лукоморье" (первый наш поселок 
    "Лесное" на Белгородском шоссе <a href="http://lesnoe.com.ua">lesnoe.com.ua</a></p>
<p>Коттеджный поселок "Лукоморье" это:</p>
<ul>
    <li>17Га территории, 47 участов, дес и озеро;</li>
    <li>Широкие дороги(16 метров на центральной улице, и по 12 метров на бковых улицах;</li>
    <li>Коммуникации:
        <ul>
            <li>свет 10 КВт выведен на участок трехфазным кабелем, 380 В;</li>
            <li>кабельное и интернет подведены по оптоволоконному кабелю;</li>
            <li>газообеспечение - на всех улицах проведены трубы газа среднего
                давления;</li>
        </ul>
    </li>
    <li>Поселок имеет свой парк и озеро, обустроенное зоной отдыха с беседками
        и пляжем;</li>
    <li>Организация охраны, уборки территории, вывоза мусора, обслуживание 
        инженерных сетей осуществляется нашей организацией и коллективом,
        находящимся в центральном офисе КП "Лесное"</li>
    <li>Надежное ограждение по периметру и охрана с контрольно-пропускным пунктом</li>
    <li></li>
</ul>