<div id="one">
    <h1 id="title" class="green">Расположение клубного городка Лесное на карте</h1>
    <img id="loc" src='<?= url::site('img/lesnoe/mestopolozhenie.jpg', 'http');?>'>
    <!--<iframe width="800" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=216252610315575098110.0004db1b1fb5805772389&amp;hl=ru&amp;ie=UTF8&amp;t=m&amp;ll=50.065294,36.273251&amp;spn=0.055096,0.137329&amp;z=13&amp;iwloc=0004db1b2597bd795a671&amp;output=embed"></iframe>-->
</div>
