{% extends "lukomorye/base.html" %}
{% load static %}
{% block extrahead %}
    <!-- Add jQuery library -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'http://code.jquery.com/jquery-latest.min.js' %}"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{% static 'fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css?v=2.1.5' %}">
    <script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js?v=2.1.5' %}"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5' %}">
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5' %}"></script>
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6' %}"></script>

    <link rel="stylesheet" href="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7' %}">
    <script type="text/javascript" src="{% static 'fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>
    <!-- ready  fancyBox-->
    <script type="text/javascript" src="{% static 'fancybox/ready.js' %}"></script>    
    

{% endblock extrahead %}
{% block content %}
<div id="gallary">
    {% for img in gallary %}
        <a href="{{ img.photo.url }}" class="fancybox-thumb" title="{{ img.description }}" 
            rel="fancybox-thumb"><img src="{{ img.photo.url }}" alt="image" class="small-img"></a>
    {% endfor %}
</div>
{% endblock content %}