{% extends "lukomorye/base.html" %}
{% load static %}
{% block content %}
<div id="opisanie">
    <h3>Характеристика клубного городка "Лукоморье"</h3>
    <p>
        Общая площадь территории поселка - 17 гектар. Рекреационная зона и благоустройство включают прогулочный 
        парк с беседками и лавочками вдоль собственного озера, детскую площадкку, зоны отдыха с аллеями.
        В коттеджном поселке "Лукоморье" можно приобрести свободный участок земли и построить дом своей мечты.
        По желанию можно подобрать удобную конфигурацию и площадь земельного участка.
    </p>
    <h3>Сервис и безопасность</h3>
    <p>
        Уютную жизнь в городке обеспечивает сервисная служба, которая позволяет максимально оградить всез жителей
        от бытовых проблем. Кроме того служба безопасности позаботится о комфорте в городке и не допустит 
        несанкционированного доступа на его территорию.
        
    </p>
    <h3>Преимущества коттеджного городока "Лукоморье":</h3>
    <ul>
        <li>Экологически чистый район вблизи санатория "Роща";</li>
        <li>5 километров от города Харьков;</li>
        <li>Своя живописная парковая зона и красивое озеро;</li>
        <li>Рядом целебный источник минеральной воды;</li>
        <li>Хорошая доступность транспорта;</li>
        <li>Необходимые для жизни коммуникации(включая газификацию и электричество;</li>
        <li>Закрытая круглосуточно охраняемая территория.</li>
    </ul>
    <img src="{% static 'lukomorye/images/parkway900.jpg' %}">
</div>
{% endblock %}