{% extends "base.html" %}
{% block title %}
    Черный список недвижимости Киева, Харькова и всей Украины
{% endblock title %}
{% load pagination_tags %}
{% block content %}
    <div id="black-list">
        <h1>Черный список недвижимости Украины, Киева и Харькова.</h1>
        <p>Каждому человеку приходилось сталкиваться с непорядочными людьми и организациями,
            причем в последнее время подобные встречи происходят всё чаще. В связи с этим 
            нами был создан раздел "Черный список недвижимости Харькова". В разделе представлена
            информация о сомнительных агентствах, черных риэлторов и агентах, подставных квартирах,
            двойных сделках, аферистах, мошенниках и т.п.</p>
        <p>Раздел работает по принципу новостных сообщений пользователей - формируется посетителями
            сайта и модерируется администрацией сайта.Если Вы знаете о случаях обмана, обязательно
            занесите их в черный список Харькова. Только так он будет действительно полным. И 
            отправьте ссылку на этот сайт всем знакомым, кто интересовался покупкой/съемом/сдачей.
            Ваши усилия окупятся.</p>
        <p>С другой стороны, если кто-то занес Вас в "черный список", есть Арбитраж, куда Вы можете
            подать жалобу с подробным изложением обстоятельств. По итогам разбирательства мы примем
            законное и обоснованное решение. </p>
        <h3>Правила данного раздела сайта:</h3>
        <ul>
            <li>Материалы в "черный список" публикует зарегистрированный посетитель сайта.</li>
            <li>Админ сайта не несет ответственности за достоверность и корректность материалов,
                размещенных посетителем.</li>
            <li>В случае разногласий по поводу информации в "черном списке" админ имеет право
                отрегировать через "арбитраж" откорретировав или удалив размещенную посетителем
                информацию.</li>
            <li>В случае наличия состава правонарушения со стороны посетителя (недобросовестная
                конкуренция, оскорбление, оговор) админ оставляет за собой право предоставить
                информацию о таком посетителе в правоохранительные органы.</li>
            <li>Ознакомлением с "черным списком" или публикацией своих материалов в данном разделе
                посетитель подтверждает свое согласие с правилами сайта.</li>
            <li>В случае несогласия с указанными правилами сайта, Вам необходимо покинуть данный 
                раздел.</li>
        </ul>
        <p>Удачи! Надеемся, Вы останетесь при своих нервах, деньгах и времени даже в таком нелегком деле, как аренда, либо продажа жилья.</p>
        <p>Администрация сайта оставляет за собой право удалять объявления непристойного содержания,
            а также не несет ответственности за информацию, размещаемую в объявлениях, потому как
            нет физической возможности проверить достоверность или провести расследование по каждому
            сообщению. В случае возникновения претензий, сообщать в Арбитраж.</p>
        <br>
            <a class="search-btn" href="{% url 'new_black_post' %}"
                title="Только зарегистрированные пользователи могут добавлять новые записи"
                >Добавить запись в черный список мошенников по недвижимости</a><br>
        {% for obj in object_list %}
            <div class="black-div" postid="{{ obj.id }}">
                <div><span class="small-ttl">Регион:</span> {{ obj.city.name }}</div>
                {% if obj.address %}
                    <div><span class="small-ttl">Адрес:</span> {{ obj.address }}</div>
                {% endif %}
                <div><span class="small-ttl">Телефоны:</span> 
                    {% for phone in obj.phone.all %}
                        0{{ phone.phone }},
                    {% endfor %}
                </div>
                <div class="small-ttl">Схема мошенничества:</div>
                <p>{{ obj.text }}</p>
                <div><span class="small-ttl">Дата публикации:</span>
                    {{ obj.post_date|date:"d E Y" }}
                    <button class="search-btn add-black-comment">Прокомментировать</button>
                    {% if obj.blacklistcomment_set.all.count > 4 %}
                        <span class="count-comment">всего комментариев
                            {{ obj.blacklistcomment_set.all.count }}</span>
                        <a href="{% url 'black_list_detail' pk=obj.id %}"
                            >посмотреть все</a></p>
                    {% endif %}
                </div>
                <div class="black-comments">
                    {% for comment in obj.blacklistcomment_set.all|slice:":4" %}
                        {% include "news/black_comment.html" %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% paginate %}
    </div>
{% endblock content %}