{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="r-cont">
        <h2>Программное обеспечение - база Риелтер</h2>
        <p>
            Для упрощения работы с информацией, если Вы профессионально занимаетесь
            недвижимостью, рекомендуем Вам необходимое программное обеспечение. 
            Вы можете заказать установку Програмного комплекса "Риелтер", в который
            по Вашему выбору войдут блоки "Квартиры-дома", "Аренда", "Нежилой фонд",
            "Чтение газет". База программы ежедневно соединяется через FTP с нашей
            базой без посредников и обновляется.
        </p>
        <p>
            По рейтингу журнала "Риелтор" Програмный комплекс "Риелтор" признан
            одним из лучших программных обеспечений в Украине для агенств недвижимости.
        </p>
        <h4>Описание программ для недвижимости:</h4>
        <ul>
            <li><a href="{% static 'rielter/kd.doc' %}">
                Риелтер КД (Rielter)</a> - программа 
                для работы с квартирами, домами. Стоимость 600 грн.</li>
            <li><a href="{% static 'rielter/ar.doc' %}">
                Риелтер АР (RielterRent)</a> - программа 
                для работы с объектами аренды. Стоимость 600 грн.</li>
            <li><a href="{% static 'rielter/kda.doc' %}">
                Риелтер КДА (Rielter)</a> - программа для работы с с квартирами, 
                домами,объектами аренды. Стоимость 700 грн.</li>
            <li><a href="{% static 'rielter/nf.doc' %}">
                Риелтер НФ (RealterManufacture)</a> - программа для работы с 
                объектамикоммерческого назначения. Стоимость 700 грн.</li>
            <li><a href="{% static 'rielter/chg.doc' %}">
                Инструкция на блок Чтение Газет</a>. Стоимость 700 грн.</li>
            <li>Риелтер ЧГэксель. Стоимость программы 700 грн.</li>
            <li>Вызов - 100 грн.</li>
        </ul>
        <h4>Скачать программы можно здесь:</h4>
        <a href="http://docs.google.com/file/d/0BxKLc-5d3AAaSVRiUWNwU1YxVXc/edit?usp=sharing" 
            title="rieltor">Программный комплекс Риелтер</a>
        <p>Техподдержка базы недвижимости: (099) 08-11-333</p>
    </div>
{% endblock content %}