<div id="kharkov-sublocality">
    <div class="big-subloc-group">
        <div>
            <label class="big-subloc-head">
                <input type="checkbox"> {{ big_subloc_list.0.name }}</label>
            {{ filterform.0subloc }}
        </div>
        <div>
            <label class="big-subloc-head">
                <input type="checkbox"> {{ big_subloc_list.1.name }}</label>
            {{ filterform.1subloc }}
        </div>
    </div>
    <div class="big-subloc-group">
        <label class="big-subloc-head">
            <input type="checkbox"> {{ big_subloc_list.2.name }}</label>
        {{ filterform.2subloc }}
    </div>
    <div class="big-subloc-group">
        <label class="big-subloc-head">
            <input type="checkbox"> {{ big_subloc_list.3.name }}</label>
        {{ filterform.3subloc }}
    </div>
    <div class="big-subloc-group">
        <label class="big-subloc-head">
            <input type="checkbox"> {{ big_subloc_list.4.name }}</label>
        {{ filterform.4subloc }}
    </div>
    <div class="big-subloc-group">
        <label class="big-subloc-head">
            <input type="checkbox"> {{ big_subloc_list.5.name }}</label>
        {{ filterform.5subloc }}
    </div>
    <div class="big-subloc-group">
        <label class="big-subloc-head">
            <input type="checkbox"> {{ big_subloc_list.6.name }}</label>
        {{ filterform.6subloc }}
    </div>
    <div class="big-subloc-group">
        <label class="big-subloc-head">
            <input type="checkbox"> {{ big_subloc_list.7.name }}</label>
        {{ filterform.7subloc }}
    </div>
    <div class="big-subloc-group">
        <label class="big-subloc-head">
            <input type="checkbox"> {{ big_subloc_list.8.name }}</label>
        {{ filterform.8subloc }}
    </div>
    <div class="big-subloc-group1">
        <label class="big-subloc-head1">
            <div style="display: none"><input type="checkbox"> {{ big_subloc_list.9.name }}</label></div>
        <b>{{ filterform.9subloc }}</b>
    </div>
</div>
