<div id="kiev-sublocality">
    <div class="big-subloc-group">
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.0 }}</label></div>
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.1 }}</label></div>
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.2 }}</label></div>
    </div>
    <div class="big-subloc-group">
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.3 }}</label></div>
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.4 }}</label></div>
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.5 }}</label></div>
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.6 }}</label></div>
    </div>
    <div class="big-subloc-group">
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.7 }}</label></div>
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.8 }}</label></div>
        <div><label class="big-subloc-head"> {{ filterform.bigsubloc.9 }}</label></div>
    </div>
</div>