{% extends 'base.html' %}
{% load static %}
{% load category %}
{% load static from staticfiles %}
{% load pagination_tags %}
{% block title %} 
    {% if canonical_page %} 
        стр. {{ canonical_page }} из {{ paginator.count }} 
    {% endif %} 
    {% city_seo cat_for_seo.title  city_obj%}  
{% endblock title %}
{% block description%}
    {% if canonical_page %} стр. {{ canonical_page }} из {{ paginator.count }} {% endif %}
    {{ cat_for_seo.description }}
{% endblock description %}
{% block keywords%}{{ cat_for_seo.key_words }}{% endblock %}
{% block headjs %}
    {% if not object_list %}
        <meta name="robots" content="noindex,nofollow" />
    {%endif%}
    <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet" media="screen">
    <link type="text/css" href="{% static 'css/obj_list.css' %}" rel="stylesheet">
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/obj_list.js' %}"></script>
{% endblock headjs %}
{% block content %}
    <div id="index_filter" class='well form-search extend'>
        <div id="block-filter-wrap" class="base-filter-wrap">
            <div class="block-filter left-block">
                <div class="i-want">Я хочу {{ filterform.action }}{{ filterform.object_all }}</div>
                <div id="in-region">В регионе {{ filterform.city }}</div>
                <div>Показать за {{ filterform.term_search }}</div>
            </div>
            
            <div class="block-filter locality">
                <div id="rent-term">{{ filterform.rent_term }}</div>
                <label id="new-building">Новострой {{ filterform.new_building }}</label>
                <div id="house-type">
                    {% for house in filterform.house_type %}
                        {{ house }}                  
                    {% endfor %}
                </div>
                <div id="fldSublocality">
                    Район: <span class="to-push">выбрать</span>
                    <div id="loc-wrap">
                        <div id="subloc-tab" class="loc-tab active-tab">Город</div>
                        <div id="province-tab" class="loc-tab">Область</div>
                        <img src="{% static 'images/personal/blue_close.png' %}"
                                class="box-select-close" title="Закрыть">
                        <div id="sublocality-choice">
                            {% sublocality_tag filterform big_subloc_list city_obj %}
                        </div>
                        <div id="province-choice">
                            <div class="province-list">
                                {% if filterform.province %}
                                    {% for item in filterform.province %}
                                        {{ item }}
                                    {% endfor %}
                                {% else %}
                                    <p>Для вашего города выбор районов не доступен</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="ok-tab">OK</div>
                    </div>
                </div>
                <div id="fldMetro">Метро: <span class="to-push">выбрать</span>
                    <div id="metr-choice">
                        <img src="{% static 'images/personal/blue_close.png' %}"
                                class="box-select-close" title="Закрыть">
                        {% metro_tag filterform metro_lines %}
                    </div>
                </div>
            </div>
            
            <div class="block-filter RoomsNum">
                <div id="fldRoomsNum">
                    <div class="room-num">Кол-во комнат: &nbsp;{{ filterform.rooms_num }}</div>
                    <div class="rooms">Комнат: &nbsp;{{ filterform.rooms_num }}</div>
                </div>
                <div id="fldObjType">
                    Тип объекта: <span class="to-push">выбрать</span>
                    <div id="object-choice">
                        {{ filterform.object_type }}
                        <img src="{% static 'images/personal/blue_close.png' %}"
                                alt="" class="box-select-close">
                    </div>
                </div>
                <div id='price'>
                    Цена от {{ filterform.min_price }}
                    до {{ filterform.max_price }} {{ filterform.currency }}
                </div>
                {{ filterform.text_filter }}
            </div>
            
            <div class="block-filter right-block">
                <a class="btn" id="reset-filter" href="{{ request.path }}" >Сбросить все фильтры</a>
                <div>
                    <button id='btn_filter1' class='btn search' form="search_query">Найти</button>
                    <button id='btn_filter2' class='btn search' form="search_query" 
                        name="woagent" value="on">Найти без посредников</button>
                </div>
            </div>
        </div>
        <div id="chosen-metro"></div>
        <div id="chosen-subloc"></div>
    </div>
    <div id="sidebar">
        <div id="my_f" class='well form-search'>
            <p>Выберите параметры поиска:<br></p>
            <form action="" method="get" id="search_query">
                {% csrf_token %}
            </form>
            <div>
                Я хочу {{ filterform.action }}
                {{ filterform.object_all }}
            </div>
            <div>{{ filterform.rent_term }}</div>
            <div>В регионе {{ filterform.city }}</div>
            <div>
                Районы: <span class="to-push">выбрать</span>
                <div id="loc-wrap">
                    <div id="subloc-tab" class="loc-tab active-tab">Город</div>
                    <div id="province-tab" class="loc-tab">Область</div>
                    <img src="{% static 'images/personal/blue_close.png' %}"
                            class="box-select-close" title="Закрыть">
                    <div id="sublocality-choice">
                        {% sublocality_tag filterform big_subloc_list city_obj %}
                    </div>
                    <div id="province-choice">
                        <div class="province-list">
                            {% if filterform.province %}
                                {% for item in filterform.province %}
                                    {{ item }}
                                {% endfor %}
                            {% else %}
                                <p>Для вашего города выбор районов не доступен</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="ok-tab">OK</div>
                </div>
                <div id="chosen-subloc"></div>
            </div>
            <div id="fldMetro">
                Метро рядом: <span class="to-push">выбрать</span>
                <div id="metr-choice">
                    {% metro_tag filterform metro_lines %}
                    <img src="{% static 'images/personal/blue_close.png' %}"
                            class="box-select-close" title="Закрыть">
                </div>
                <div id="chosen-metro"></div>
            </div>
            <div id="house-type">Тип:
                {% for house in filterform.house_type %}
                       {{ house }} 
                {% endfor %}
            </div>
            <div id='fldObjType'>
                Тип объекта: <span class="to-push">выбрать</span>
                <div id="object-choice">
                    {{ filterform.object_type }}
                    <img src="{% static 'images/personal/blue_close.png' %}"
                            alt="" class="box-select-close" title="Закрыть">
                </div>
            </div>
            <div id='fldRoomsNum'>
                Количество комнат:
                {{ filterform.rooms_num }}
            </div>
            <div>Показывать за {{ filterform.term_search }}</div>
            <div>
                Цена, валюта: {{ filterform.currency }}<br/>
                От:{{ filterform.min_price }} до:{{ filterform.max_price }}
            </div>
            <div>{{ filterform.text_filter }}</div>
            <input id='btn_filter' class='btn search' type='submit' value='Искать'
                form='search_query'>
            {% if wo_checkbox or request.user.is_admin %}
                <label>{{ filterform.woagent }} без агентов</label>
            {% else %}
                <label id="woagent-false" title="Чтобы воспользоваться этой опцией нужно 
                        иметь доступ к базе без посредников">
                    <input type="checkbox" disabled="true">без агентов</label>
            {% endif %}
            <!--input class="btn without_agent" value="Без посредников" type='button'/-->
            <a id='filter_reset' class="btn" href="{{ request.path }}">Сбросить все фильтры</a>
            
        </div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Большой небоскреб слева на списках объявлений -->
            <ins class="adsbygoogle"
            style="display:inline-block;width:218px;height:600px"
            data-ad-client="ca-pub-8719193048908072"
            data-ad-slot="4090372279"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
    </div>
    <div class="sort" >
        <span class="sort_title" >Cортировать:</span>
        {{ filterform.sort_obj }}
        {{ filterform.sort_level }}
        <input type="submit" value="Сортировать" form="search_query" class="btn search">
    </div>
    <div id="adverts-list">
        {% if wo_disabled %}
            <p id="wo-disabled">{{ wo_disabled }}</p>
        {% endif %}
        <h1 class="h_one">{{ city_h1.name }} - 
        {% if category %}
            {{ category.name }} 
        {% else%} доска объявлений
            {% endif %}
        </h1>
        {% if vip_advert %}
            {% include "board/advert_for_list_vip.html" %}
            <br>
        {% endif %}
        {% if top_advert and canonical_page == 1  or canonical_page == 0 %}
            {% if top_advert %}
                {% include "board/advert_for_list_top.html" %}
            {% endif %}
            <br>
        {% endif %}

        {% for item in big_subloc %}
            <p>{{ filterform.item }}</p>
        {% endfor %}

        {% if tip %}
            <div id="top_vip"><p><a href="javascript:history.back();"> вернуться к обычным объявлениям </a> 
            <span id = "tip">{{ tip }}</span>  </p></div>
        {% endif %}

        {% include "board/advert_for_list.html" %}

        {% if top_advert and canonical_page > 1  %}
            {% include "board/advert_for_list_top.html" %}
            <br>
        {% endif %}
        {%if city_kiev and category_sdam%}
        <div class="posting-estate-widget wide" data-text-1="Хотите арендовать жилье в Киеве?" data-text-2="Оставьте заявку и мы подберем вам квартиру из 17 780 предложений от собственников"></div>
<script src="//posting.dataroot.co/embed/embed.min.js" id="posting-estate-embed-async-loader"></script>
        <br>
        {% endif %}
        {% paginate %}
        <br>
    </div>
{% endblock %}
{% block seo_text %}
    <div style="clear:both;display:block;">
        {% if cat_for_seo.seo_text %}
            <div id="seo_text_s">
                <div >
                    {{ cat_for_seo.seo_text|safe }}
                </div>
            </div>
        {% endif %}
    </div>
    <br>
{% endblock %}

